* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

/* HEADER */

.hero {
    width: 100%;
    height: 100vh;
    background-image: url(../img/mediterraneo-1.jpg);
    background-position: center;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*BARRA DE NAVEGAÇÃO*/
nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    width: 80px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 5.5%;
    color: #fff;
    font-size: 17px;
}

nav li a {
    text-decoration: none;
    color: #fff;
}

nav ul li:hover {
    background: transparent;
    border-bottom: 3px solid #003175;
    transform: translateY(-5px);
}

/*DESTINOS*/

.menu {
    display: grid;
    grid-template-columns: 250px 250px;
    padding: 15px;
    padding-left: 20px;
}

.menu a:hover {
    color: #003175;
}

.dropdown-menu {
    position: absolute;
    margin-top: 48%;
    margin-left: -400%;
    width: 500px;
    height: 200px;
    border-radius: 15px;
    border: none;
    display: none;
}

.dropdown-menu a {
    display: block;
    color: black;
}

.dropdown:hover .dropdown-menu {
    display: inline-block;
}

/*VIAJANDO COM A ATOM*/

.dropdown-atom {
    position: absolute;
    margin-top: 20%;
    margin-left: -126%;
    width: 250px;
    height: 200px;
    border-radius: 15px;
    background: #fff;
    border: none;
    display: none;
}

.dropdown-atom a {
    display: block;
    color: black;
}

.dropdown:hover .dropdown-atom {
    display: inline-block;
}


/* CONTEÚDO DO HEADER */

.content {
    text-align: center;
}

.content h1 {
    font-size: 60px;
    color: #fff;
    font-weight: 600;
    margin-top: 170px;
    margin-bottom: 90px;
}

.content h1:hover {
    -webkit-text-stroke: 1px #fff;
    color: transparent;
}


/*CORPO DA PÁGINA - MAIN*/

main {
    width: 100%;
    height: 300vh;
    position: relative;
    padding: 0 5%;
    margin-top: 4%;
    align-items: center;
    justify-content: center;
}

main h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 3%;
    text-align: left;
}

main p {
    font-size: 22px;
    text-align: left;
    color: grey;
}

main img {
    border-radius: 15px;
}

/*CARDS*/

h3 {
    margin: 4% 0px 4% 0%;
    padding-left: 4%;
    font-weight: 600;
}

.cartoes {
    display: grid;
    grid-template-columns: 18.6rem 18.6rem 18.6rem 18.6rem;
    padding-left: 3%;
}
.card {
    
    border-radius: 15px;
}

.card:hover {
    box-shadow: 5px 5px 3px grey;
}

.card img {
    border-radius: 15px 15px 0px 0px;
}

h4 {
    font-size: 21px;
    font-weight: 600;
}

h5 {
    font-size: 17px;
}

.card-body p {
    font-size: 13px;
}

#precoPassagem {
    font-size: 25px;
    color: #0437F2;
    margin-top: -10px;
}


/* CONTEUDO DO FOOTER */

footer {
    padding: 80px 13% 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    gap: 3.5rem;
    border-top: 1px solid #003175;
}

.footer-content h4 {
    margin-bottom: 1.5rem;
    font-size: 20px;
}

.footer-content li {
    margin-bottom: 16px;
    list-style: none;
}

.footer-content li a {
    display: block;
    font-size: 15px;
    font-weight: 400;
    transition: all .40s ease;
    text-decoration: none;
    color: grey;
}

.footer-content li a:hover {
    transform: translateY(-3px) translateX(-5px);
    color: black;
}

.footer-content img {
    margin-top: -25px;
}


.icons a {
    display: inline-block;
    font-size: 22px;
    margin-right: 17px;
    transition: all .40s ease;
}

.icons a:hover {
    transform: translateY(-5px);
    color: black;
}
