*
{
    padding: 0;
    margin: 0;
}
body{
    background-color: #fafafa;
}
/* COLUNAS */
.col-1
{
    width: 75%;
    margin-top: 50px;
}
.col-2
{
    margin-top: 50px;
    width: 25%;
    position: sticky;
    top: 15px;
} 
.col-3
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}
.col-4
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:80%;
}
/* SECTION */
.section-container{
    width: auto;
    border-width: 1px;
    border-style: solid;
    border-color:  #cfcfcf;
    background-color: #fff;
    margin: 10px;
    display: flex;
    flex-direction: column;
}
/* T;ÍTULO DA PÁGINA */
#txt-complete-dados{
    font-size: 35px;
    color: #0247a7;
    text-align: left;
}
#txt-escolha-form-pag{
    font-size: 18px;
    color: #003175;
    text-align: left;
    margin-left: 20px;
}
/* BOTÃO DE CONFIRMAR */
.btn-confirmar{
    background-color: #003175;
    border: solid;
    width: 100%;
    height: 40px;
    color: #fff;
    margin-top: 10px;
}
.btn-confirmar-2{
    background-color: #003175;
    border: solid;
    width: 100%;
    height: 40px;
    color: #fff;
}
.btn-confirmar:hover{
    background-color: #0247a7;
}
/* BOX INFORMATIVO DA DIREITA (SEU CARRINHO) */
#txt-carrinho
{
    font-size: 15px;
    text-align: left;
}
.box
{
    width: auto;
    border-width: 1px;
    border-style: solid;
    border-color:  #cfcfcf;
    background-color: #fff;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
/*  */
.box h2{
    font-size: 15px;
    text-align: right;
}
.box h1{
    font-size: 22px;
    text-align: right;
    color: #006aff;
}
.box h3{
    font-size: 10px;
    text-align: right;
}
#txt-total{
    text-align: left;
    font-size: 15px;
    display: flex;
    float: left;
    width: 100px;
}
.box-img{
    width: 150px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}
.imagem-mulher-praia{
    background-image: url(../img/mulher-praia.jpg);
    height: 120px;
    width: 120px;
    margin: 10px;
    background-position: center;
    background-size: cover;
}

/* RESPONSIVIDADE 575*/
@media (max-width: 575.98px) { 
}
/* RESPONSIVIDADE 767*/
@media (max-width: 767.98px) {
}
/* RESPONSIVIDADE 991*/
@media (max-width: 991.98px) { 
 }