*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url(../img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 100vh;
}
/* BOX PRINCIPAL */
.box{
    display: flex;
    width: 930px;
}
.box-inform{
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(40px);
    padding: 30px 40px;
    width: 100%;
    border-radius: 20px;
}
.box-inform h1{
    font-size: 18px;
}
.box-inform h2{
    font-size: 13px;
    text-align: center;
}
.box-inform p{
    font-weight: bold;
    color: #3D3D3D;
    font-size: 15px;

}
.box-inform p a{
    color: #294159;
    text-decoration: none;
    font-size: 15px;
}
#img-box
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    border-radius: 20px;
}
.desc-img
{
    justify-content: left;
    display: flex;
    flex-direction: column;
}
.desc-cruzeiro
{
    display: flex;
    flex-direction: row;
    text-align: center;
}
/* */