*
{
    padding: 0;
    margin: 0;
}
body
{
    padding: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
}
.row
{
    width: auto;
    height: 3px;
    background-color: #1B55A6;
    margin: 8px;
}
fieldset
{
    background-color: #ffff;
    border-color: #1B55A6;
    border-radius: 10px;
    /*margin: 50px;*/
    width: 1000px;
    height: auto;
    padding: 10px;
    
    box-shadow: 0px 0px 5px #666;
    -webkit-box-shadow: 0px 0px 5px #666;
    -moz-box-shadow: 0px 0px 5px #666;
}
@media screen and (max-width: 768px)
{
    fieldset{
        width: auto;
        height: auto;
        margin: 35px;
        padding: 5px;
    }

}
#legenda
{
    border: 1px solid #1B55A6;
    padding: 7px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #1B55A6;
    border-radius: 8px;
    color: #ffff;
}
#img-roteiro
{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 768px) {
    
    #img-roteiro{
        width: 100%;
    }

}
p 
{
    font-size: 15px;
}
#id-navio
{
    font-size: 12px;
    display: flex;
}
#id-cruzeiro
{
    display: flex;
}
#id-roteiro
{
    display: flex;
}
h1, h2
{
 font-size: 17px;
}
#total-txt, #valor-txt
{
    font-size: 22px;
}
#but-confirmar
{
    background-color: #1B55A6;
    border: #1B55A6;
    border-radius: 3px;
    font-size: 14px;
    color: #ffff;
    width: 270px;
    height: 30px;
}
#but-confirmar:hover
{
    background-color: #08336e;
    border: #1B55A6;
    border-radius: 3px;
    font-size: 14px;
    color: #ffff;
    width: 270px;
    height: 30px;
}
#container-box
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box-opcao
{
    margin: 12px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #ffff;
    border-color: #1B55A6;
    border-radius: 3px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 60px;
}
@media screen and (max-width:768px){
    #container-box
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.icons
{
    padding: 3px;
    width: 30px;
}
.w50{
    width: 50%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:768px) {
    .w50{
        width: 100%;
        padding: 0;
    }
}
.button-login
{
    background-color: #ffff;
    border-color: #1B55A6;
    border-radius: 3px;
    width: 450px;
    height: 40px;
    margin: 12px;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}
#div-button-login
{
    display: flex;
    justify-content: center;
    align-items: center;
}
#nomeCompleto
{
    width: 500px;
    height: 25px;
    margin: 10px;
    text-align: center;
    border-color: #1B55A6;
}
.div-nome-completo
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
    padding: 12px;
}
.form-box
{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 50%;
    float: left;
}
.form-box2
{
    display: flex;
    flex-direction: column;
}
.input-box
{
    margin: 5px;
    width: 300px;
    height: 25px;
    border-color: #1B55A6;
}
#form-dados
{
    justify-content: center;
    display: flex;
    align-items: center;
}