body
{
    background: linear-gradient(to right,#D4DAE2 0%,#293D59 90%);
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.container-login
{
    background-color: #F1F2EE;
    width: 380px;
    height: 500px;
}
.container-login-image
{
    background-color: #D4DAE2;
    width: 380px;
    height: 500px;
}